
.login-home {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

.login-home p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
}

.info-content{
    padding: 20px;
}