
.navbar-content{
    background-color: #6e96d5;
    box-shadow: 5px 5px 10px rgba(46, 60, 91, 0.8);
}

.navbar-content li a {
    color: rgba(255, 255, 255, 0.80);
}
.navbar-content a img {
    height: 30px;
    width: 100px;
}

.navbar-information {
    color: rgba(255, 255, 255, 0.80);
}

.logout{
    padding-left: 2%;
}

.logout a {

    color: rgba(255, 255, 255, 0.80);
}